html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color: #FDF9E5;
}


/* NAVBAR SUPERIOR */

.barra {
  background-color: #CBD4B0;
}


/* MENÚ LATERAL */

.menu {
  background-color: #FDF9E5;
}

.titulo {
  background-color: #CBD4B0;
  margin-bottom: 10px;
}

.opciones {
  background-color: #CBD4B0;
  border: none;
  text-align: end;
  gap: 14px;
}

.opciones a {
  color: black;
  text-decoration: none;
}

.opciones a:hover {
  text-decoration: underline;
}

/* BOTÓN FLOTANTE DEL MENÚ */
.menu-boton {
  position: absolute;
  top: 90px;
  right: 30px;
  z-index: 1000;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

.menu-boton:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

/* SECCIÓN: CENTROS DEPORTIVOS */

.centros-deportivos {
  padding: 60px 5%;
  background-color: #FDF9E5;
  color: #1E1E1E;

}

.centros-deportivos h1 {
  text-align: center;
  font-size: 5.8rem;
  font-weight: 800;
  color: #3B4A1F;
  margin-bottom: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.centro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 60px;
   font-family: 'Nunito', sans-serif;
}

.centro .texto {
  flex: 1 1 600px;
  text-align: justify;
  font-size: 1.1rem;
 
}

.centro .texto h2 {
  font-size: 2.8rem;
  color: #344422;
  margin-bottom: 15px;  
}

.centro .texto p {
  font-size: 25px;
  line-height: 1.8;
  color: #333;
  font-family: 'Nunito', sans-serif;
  font-weight: 300px;

}

.centro img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 10px rgba(13, 12, 12, 0.15);
}

.centro .info {
  flex: 0 0 230px;
  background-color: #CBD4B0;
  padding: 20px;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.7;
  color: #222;
  margin-top: 70px; 
  font-family: 'Nunito', sans-serif;
  font-weight: 300px;
}

.centro .info p {
  margin-bottom: 10px;
}

/* SECCIÓN DE INSCRIPCIONES DEPORTIVAS */

.inscripciones {
  padding: 60px 5%;
  background-color: #FDF9E5;
  font-family: "Nunito", sans-serif;
  color: #1E1E1E;
}

.inscripciones h1 {
  font-size: 3rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 10px;
}

.inscripciones h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.deportes-lista {
  background-color: #d9d9d9;
  padding: 25px;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 40px;
}

.deportes-lista ul {
  list-style: disc;
  margin: 0;
  padding-left: 30px;
}

.deportes-lista li {
  font-size: 1.3rem;
  margin: 5px 0;
}

.inscripcion-info p {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.info-box {
  background-color: #dfe5c1;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

.info-box p {
  font-size: 1.2rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-box i {
  font-size: 1.4rem;
  color: #3B4A1F;
}

.btn-horarios {
  background-color: #c7332c;
  color: white;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-horarios:hover {
  background-color: #a92924;
}


footer {
      background-color: #c9cfad; 
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 85px 50px;
      font-family: "Poppins", sans-serif;
      flex-wrap: wrap;
    }

    footer div {
      text-align: center;
    }

    footer h3 {
      font-weight: 700;
      margin-bottom: 8px;
      font-size: 30px;
    }

    footer p {
      margin: 3px 0;
      font-weight: 400;
      font-size: 15px;
    }

    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }


    .logo img {
      width: 200px;
    }

    .logo h2 {
      font-weight: 700;
      color: #1c1c1c;
    }

    .verde {
      color: #4b7340;
    }

/* RESPONSIVE */

@media (max-width: 768px) {
  .centros-deportivos h1 {
    font-size: 2.2rem;
  }

  .centro {
    flex-direction: column;
    text-align: center;
  }

  .centro .info {
    width: 100%;
    order: 2;
  }

  .centro .texto {
    order: 1;
  }
}